<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/css/navbarr.css}" href="/css/back.css" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Children</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8084/children/home">Children <span
                        class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8084/children_groups/home">Children Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8084/teachers/home">Teacher</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8084/specializations/home">Specializations</a>
            </li>
        </ul>
    </div>
</nav>

<!--create form-->
<div th:if="${mode == 'create'}">
    <form action="http://localhost:8084/children_groups/" method="POST"
          class="form-group mx-sm-3 mb-2"
          style="width:500px">
        <div class="form-group">
            <label>Group number</label>
            <input type="text" class="form-control" name="groupNumber" placeholder="Enter group number" required pattern="^[0-9]+$">
        </div>
        <div class="form-group">
            <label>Group name</label>
            <input type="text" class="form-control" name="groupName" placeholder="Enter group name" required>
        </div>
        <div class="form-group">
            <label>Age group</label>
            <input type="text" class="form-control" name="ageGroup" placeholder="Enter age group" pattern="^(0?[1-9]|[1-2][0-9])$" required>
        </div>
        <div class="form-group">
            <label>Teacher</label>
            <input type="text" class="form-control" name="teacherId" placeholder="Enter one of the teacher's id listed below" pattern="^[1-9]+$" required>
        </div>
        <div style="display: inline-flex">
            <h3>Available teachers: [[${teachers}]]</h3>
            <button type="submit" class="btn btn-primary" style="margin-left:105px">Create</button>
        </div>
    </form>
</div>

<!--update form-->
<div th:if="${mode == 'update'}">
    <form action="http://localhost:8084/children_groups/update" method="POST"
          class="form-group mx-sm-3 mb-2"
          style="width:500px">
        <div class="form-group">
            <input type="number" class="form-control" name="id" th:value="${group.id}" hidden>
        </div>
        <div class="form-group">
            <label>Group number</label>
            <input type="text" class="form-control" name="groupNumber" placeholder="Enter group number" th:value="${group.groupNumber}" required pattern="^[0-9]+$">
        </div>
        <div class="form-group">
            <label>Group name</label>
            <input type="text" class="form-control" name="groupName" placeholder="Enter group name" th:value="${group.groupName}" required>
        </div>
        <div class="form-group">
            <label>Age group</label>
            <input type="text" class="form-control" name="ageGroup" placeholder="Enter age group" th:value="${group.ageGroup}" pattern="^(0?[1-9]|[1-2][0-9])$" required>
        </div>
        <div class="form-group">
            <label>Teacher</label>
            <input type="text" class="form-control" name="teacherId" th:value="${group.teacher.id}" placeholder="Enter one of the teacher's id listed below" pattern="^[1-9]+$" required>
        </div>
        <div style="display: inline-flex">
            <h3>Available teachers: [[${teachers}]]</h3>
            <button type="submit" class="btn btn-primary" style="margin-left:105px">Update</button>
        </div>
    </form>
</div>

</body>
</html>